# Este archivo es para ignorar archivos y que no se suban al repo remoto
#(Github). Súper util y siempre es necesario que al menos incluyas el .env 
# porque puede incluir información sensible como contraseñas, claves de API, etc.
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
*.pyc
.pytest_cache/
.coverage
htmlcov/
